.LegendInput {
  user-select: none;
  position: relative;
  min-height: 50px;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LegendInput input {
  background-color: transparent;
  border: 0;
  caret-color: white;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.LegendInput input:focus {
  outline: none;
  border: 0;
}
.LegendInput p {
  position: absolute;
  font-size: 13px;
  left: 10px;
  top: -10px;
  z-index: 1;
  padding: 0 4px;
  background-color: #18212b;
}
.LegendInput input::placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
